-f https://download.pytorch.org/whl/cu116
torch
-f https://download.pytorch.org/whl/cu116
torchvision
numpy
python-socketio
aiohttp
requests
boto3
pyyaml
datasets
transformers
opacus
gym
zstd
torch-optimizer
timm
pandas

